@model AcademicPerformanceSystem.Models.StudentData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PracticalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PracticalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
